.clickable:hover {
    cursor: pointer;
}

.comment-preview {
    max-height: 1.2em;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#delete-button {
    margin-bottom: 10px;
}

.new {
    font-weight: bold;
}

.modal-body {
    overflow-y: scroll;
    word-wrap: break-word;
}