body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
}

.image-preview-container {
    padding-bottom: 20px;
    position: relative;
}

.image-preview-container > img {
    width: 100%;
}

@keyframes image-preview-overlay-animation {
    from { background-color: rgba(255, 255, 255, 0); }
    to { background-color: rgba(255, 255, 255, 0.1); }
}

.image-preview-container:hover .image-preview-overlay {
    animation-name: image-preview-overlay-animation;
    animation-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    cursor: pointer;
}

.image-preview-container .image-preview-overlay {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.series-link:hover {
    cursor: pointer;
}

.social-links {
    display: flex !important;
    align-items: center;
    justify-content: center;
}