#nav-bar {
    background-color: red;
    height: 10%;
}

#logo {
    background-color: black;
    float: left;
    height: 100%;
    width: 30%;
}

#link-section {
    background-color: orange;
    display: flex;
    float: right;
    height: 100%;
    justify-content: space-between;
    width: 70%;
}

#links a {
    padding: 50px;
}

#gallery {
    background-color: green;
    height: 75%;
}

#book-me-bar {
    background-color: blue;
    height: 15%;
}