body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

#nav-bar {
    height: 10%;
}

#logo {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    float: left;
    height: 100%;
    justify-content: center;
    width: 300px;
}

#link-section {
    display: flex;
    float: right;
    height: 100%;
}

#site-links {
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
    margin: 25px;
}

#site-links > a {
    color: #FFFFFF;
    padding: 15px;
    text-decoration: none;
}

#site-links > a:hover {
    background-color: red;
}

#social-links {
    align-items: center;
    display: flex;
    float: right;
    justify-content: center;
}

#social-links > a {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

#gallery {
    height: 75%;
}

#book-me-bar {
    height: 15%;
}