body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

#nav-bar {
    background-color: #FF0000;
    height: 100px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    float: left;
    height: 100%;
    justify-content: center;
    width: 300px;
}

#link-section {
    display: flex;
    float: right;
    height: 100%;
}

#site-links {
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
    margin: 25px;
}

#site-links > a {
    color: #FFFFFF;
    padding: 15px;
    text-decoration: none;
}

#site-links > a:hover {
    background-color: red;
}

#social-links {
    align-items: center;
    display: flex;
    float: right;
    justify-content: center;
    margin-left: 10px;
    margin-right: 25px;
}

#social-links > a {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

#gallery {
    align-contents: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

.gallery-col {
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
}

.gallery-col > img {
    margin-bottom: 10px;
    width: 100%;
}

.img-container {
    margin-bottom: 10px;
    position: relative;
}

.img-container img {
    width: 100%;
}

.img-container:hover .img-overlay {
    display: block;
}

.img-container .img-overlay {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}