.preview-series-row {
    margin-bottom: 20px;
}

.image-preview-overlay-caption {
    font-size: 1em;
}

.selected {
    opacity: 1;
}

.edit-buttons-row {
    margin-top: 10px;
}

#delete-image-button {
    float: left;
}

iframe {
    min-height: 500px;
}