@media (max-width : 900px) {
    .logo-sub {
        position: relative;
        margin: 0 auto;
        max-width: 400px;
    }
}

@media (min-width : 900px) {
    .logo-sub {
        position: absolute;
        right: 200px;
        width: 500px;
    }
}

#background {
    right: 0;
    min-width: 100%;
    min-height: 100vh;
}

#logo {
    width: 100%;
}

.logo-container {
    width: 100%;
}

.logo-sub {
    top: 100px;
}

#background {
    position: absolute;
    top: 0;
    
}