body {
    padding-top: 70px;
}

.navbar-brand {
    font-family: Nickainley; 
    font-size: 1em;
}

@media only screen and (max-width : 768px) {
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
        text-decoration: underline;
    }
}

@media only screen and (min-width : 480px) {
    .navbar-brand {
        font-family: Nickainley; 
        font-size: 2em;
    }
}

@media only screen and (min-width : 768px) {
    .navbar-brand {
        font-family: Nickainley;
        font-size: 3em;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
        border-bottom: 5px solid #DDDDDD;
    }
}

.navbar-icon {
    margin-right: 15px;
}

.series-link:hover {
    cursor: pointer;
}

.social-links, .series-links {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.navbar-default {
    box-shadow: none;
    background-image: none;
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    box-shadow: none;
    background-image: none;
    background-color: #FFFFFF;
}

#navbar-series > ul > li.active > a, #navbar-series > ul > li:hover > a {
    background-color: #666666;
    color: #FFFFFF;
    background-image: none;
}