@font-face {
    font-family: Alcubierre;
    src: url("../fonts/Alcubierre.otf") format("opentype");
}

@font-face {
    font-family: Nickainley;
    src: url("../fonts/Nickainley.otf") format("opentype");
}

body {
    font-family: 'Alcubierre', sans-serif;
    background-color: #FFFFFF;
}